<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="SoyM">
	<meta name="author" content="SoyM">
	<link href="/static/favicon.ico" rel="shortcut icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<style>
		html,
		body {
			height: 100%;
		}

		.soym {
			height: 100%;
		}

		.container {
			height: 80%;
		}
	</style>
	<title>SoyM</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-8853617418914857",
	    enable_page_level_ads: true
	  });
	</script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00000013;">
		<a class="navbar-brand" href="/">Index</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		 aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/panel/">Panel
						<span class="sr-only">(current)</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="soym-header px-5 py-5 pt-md-5 pb-md-5 mx-auto text-center">
			<h1 class="display-4">SoyM</h1>
		</div>
		<div id="demo">
			<br/>
			<br/>
			<br/>
			<div class="row justify-content-md-center">
				<div class="col-md-6 col-sm-8">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model='searchKey' />
				</div>
			</div>
			<br/>
			<br/>

			<ul>
				<li v-for="record in commits">
					<a :href="record.url" target="_blank" class="commit">{{ record.title.slice(0, 100) | truncate }}</a>
					<br>
					<br>
				</li>

				<li v-for="record in leiphone">
					<a :href="record.url" target="_blank" class="commit">{{ record.title.slice(0, 100) | truncate }}</a>
					<br>
					<br>
				</li>
			</ul>
		</div>
	</div>



	<script>
		var demo = new Vue({

			el: '#demo',

			data: {
				branches: ['zh', 'en'],
				currentBranch: 'zh',
				commits: null,
				leiphone: null,
				searchKey: '',
			},

			created: function () {
				this.fetchData()
			},

			watch: {
				searchKey: 'fetchData'
			},

			filters: {
				truncate: function (v) {
					var newline = v.indexOf('\n')
					return newline > 0 ? v.slice(0, newline) : v
				},
				formatDate: function (v) {
					return v.replace(/T|Z/g, ' ')
				}
			},

			methods: {
				fetchData: function () {
					var apiURL = 'http://127.0.0.1:8081/search?q=' + this.searchKey + '&w=zhihu'
					console.log(apiURL)
					var self = this
					var xhr = new XMLHttpRequest()
					xhr.open('GET', apiURL)
					xhr.onload = function () {
						self.commits = JSON.parse(xhr.responseText).SearchResults
						// console.log(self.commits)
					}
					xhr.send()

					leiphone_data(this.searchKey)
				},
			}

		})
		function leiphone_data(searchKey) {
			var apiURL = 'http://111.230.224.190:8081/search?q=' + searchKey + '&w=leiphone'
			console.log(apiURL)
			var self = this
			var xhr = new XMLHttpRequest()
			xhr.open('GET', apiURL)
			xhr.onload = function () {
				demo.leiphone = JSON.parse(xhr.responseText).SearchResults
				// console.log(self.commits)
			}
			xhr.send()
		}
	</script>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	 crossorigin="anonymous"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-64769278-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-64769278-2');
	</script>
</body>

</html>
