<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <!-- <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0"> -->
    <title>蓝因机器人控制系统</title>
    <link href="../css/lib/materialize.min.css" rel="stylesheet">
    <link href="../css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="../css/path.css" rel="stylesheet">
    <script src="../js/lib/vue.js"></script>
</head>

<body>

    <div id="map">
        <ul id="slide-out" class="sidenav sidenav-fixed" style="background-color: rgba(208, 70, 183, 0.07)">
            <li>
                <div class="user-view">

                    <a href="http://www.cyaninetech.com/">
                        <img height="82px" width="" src="../img/soym.png">
                    </a>

                </div>
            </li>

            <li>
                <div id="connect">
                    <div class="input-field row">
                        <div class="col s6">
                            <label class="active black-text no_select" for="first_name2">
                                <span style="font-size: 15px">Robot IP</span>
                            </label>
                            <input v-model="ip" id="ip" name="ip" type="text" class="validate black-text">

                        </div>
                        <div class="col s6 no_select" style="color: black">
                            status:
                            <span v-bind:style="{ color: activeColor}">{{conn_status}}</span>
                            <button v-if="!seen" class="btn waves-effect waves-light" id="con" onclick="ros_con(init_ros)">{{conn_mode}}</button>
                        </div>
                    </div>

                    <div v-if="button_seen">
                        <div class="row">
                            <button onclick="clearall()" class="btn col s4 offset-s1 blue waves-purple dick_button">重置</button>
                            <button onclick="start_button()" class="btn col s4 blue waves-purple dick_button">开始行走</button>
                        </div>

                        <div class="row">
                            <button onclick="pause_button()" class="btn col s4 blue waves-purple dick_button">暂停</button>
                            <button onclick="save_path()" class="btn col s4 blue waves-purple dick_button">保存</button>
                            <button onclick="goalend_button()" class="btn col s4 blue waves-purple dick_button">完成</button>
                        </div>
                    </div>
                </div>
            </li>

            <div id="mapController">
                <p id="MapMove" onclick="switchMapMove()">
                    <input id="MapMoveClick" type="checkbox" class="filled-in" checked="checked" />
                    <span>纯移动地图 模式</span>
                </p>
                <p class="no_select">____________________________</p>
                <p class="no_select">地图缩放</p>
                <div class="row">
                    <div class="col s4 offset-s2">
                        <a class="btn-floating no_select" onclick="zoom_in()">
                            <i class="fa fa-search-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col s4">
                        <a class="btn-floating no_select" onclick="zoom_out()">
                            <i class="fa fa-search-minus" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div v-if="rotate_seen">
                    <p class="no_select">地图旋转</p>
                    <div class="row">
                        <div class="col s4 offset-s2">
                            <a class="btn-floating no_select" onclick="rotate_left()">
                                <i class="fa fa-undo" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="col s4">
                            <a class="btn-floating no_select" onclick="rotate_right()">
                                <i class="fa fa-repeat" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <p class="no_select">____________________________</p>

            <a href="./index.html">数据保存图表</a><br>
            <a href="./dataChart2.html">数据保存图表2</a><br>
            <a href="./dataChart3.html">数据保存图表3</a><br>
            <a href="./route1.html">路线图1</a><br>
            <a href="./route2.html">路线图2</a><br>
            <a href="./route3.html">路线图3</a><br>

            <!-- <li>
                <div id="tips" style="font-size: 14px; color: #fff;line-height: 20px;">
                    <button v-on:click="showtips" class="btn no_select" style="color:white;background-color: palevioletred">查看温馨提示</button>
                    <br>
                    <div>
                        <div v-if="tips_seen">
                            {{tips_message}}
                        </div>
                    </div>
                    
                </div>
            </li> -->

        </ul>

        <!-- <a href="#" data-target="slide-out" class="sidenav-trigger" ><i class="material-icons" style="font-size: 8rem">menu</i></a> -->


        <div id="data_panel">
            <div>
                <!-- Robot X: {{robotOriginX}} -->
                <!-- <br> Robot Y: {{robotOriginY}} -->
                <br>Scale: {{lastScale}}
                <br> Origin X: {{mapOriginX}}
                <br> Origin Y: {{mapOriginY}}

            </div>
        </div>

        <canvas id="cv_bottom"></canvas>

        <canvas id="locate" v-if="robot_seen" v-bind:style=" { top: robotOffsetTop + 'px',left: robotOffsetLeft+ 'px'} ">

        </canvas>

        <div id="line_div"></div>

        <div id="canvas_in_canvas"></div>

        <div id="footer" class="no_select">
            @2018 CyanineTech VERSION: 3.2.2 粤ICP备17100435号-1
        </div>

    </div>

    <!-- <script src="https://static.robotwebtools.org/EventEmitter2/0.4.14/eventemitter2.min.js"></script> -->
    <!-- <script type="text/javascript" src="https://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script> -->
    <script src="../js/lib/jquery.js"></script>
    <script src="../js/lib/eventemitter2.min.js"></script>
    <script src="../js/lib/roslib.min.js"></script>
    <!-- <script src="./js/lib/jquery-ui.js"></script> -->
    <script src="../js/lib/materialize.min.js"></script>


    <!-- user -->
    <script src="../js/commonHandle.js"></script>
    <script src="./aolai-config.js"></script>
    <script src="../js/protocolHandle.js"></script>
    <script src="./aolai-init.js"></script>

    <script src="./dataChart2.js"></script>


    <!-- <script src="./js/prototype.js"></script> -->
    <script src="../js/path.js"></script>
    <script src="../js/buttonHandle.js"></script>
    <script src="../js/rotateHandle.js"></script>
    <script src="./aolai-mapHandle.js"></script>
    <script src="../js/targetDotHandle.js"></script>

</body>

</html>